[Unit]
Description=Verb Data Service
Requires=docker.service
After=network.target
After=docker.service

[Service]
SyslogIdentifier=verb_data
ExecStartPre=-/usr/bin/docker create --name verb_data -v {{ install_directory }}/data:/verbdata ubuntu echo 'verb_data container'
ExecStart=/usr/bin/docker start verb_data
ExecStop=-/usr/bin/docker stop verb_data
Restart=no
RestartSec=15s
TimeoutStartSec=60
TimeoutStopSec=20

[Install]
WantedBy=verb_db
